{
  "host": "0.0.0.0",
  "port": 1433,
  "web_host": "0.0.0.0",
  "web_port": 1434,
  "secret": "00000000000000000000000000000000",
  "dc_redirects": {
    "2": "149.154.167.220",
    "4": "149.154.167.220"
  },
  "buffer_size": 262144,
  "pool_size": 4,
  "proxy_protocol": false,
  "cfproxy": true,
  "cfproxy_user_domain": "",
  "cfproxy_worker_domain": "",
  "fake_tls_domain": "",
  "link_host": "",
  "update_repo": "Omn1z/tg-ws-keenetic",
  "update_channel": "release",
  "log_file": "/opt/var/log/tgwsproxy/tgwsproxy.log",
  "log_max_mb": 5.0,
  "log_backups": 2,
  "verbose": false,
  "web_user": "admin",
  "web_password": ""
}
